html,body { font-family: arial, sans-serif; }

body { padding: 0; }

.member-list {
  list-style: none outside;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__member {
    padding: 0.5em;
    text-align: center;
    flex-basis: 125px;
  }
  &__name { font-weight: bold; }
  &__image { display: block; margin-left: auto; margin-right: auto; }
}

.filters { display: flex; justify-content: space-between; background-color: #e6e6e6; padding: $sm;
  &__input-group { flex-basis: 30%; }
}

.input-group {
  &__label { display: block; font-size: 0.9em; margin-bottom: $xxs; }
  &__input {
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    width: 100%;
    padding: $xxs;
  }
}

.guild-stats {
  &__heading { text-transform: uppercase; }
  &__list { list-style: none outside; margin: 0; padding: 0; display: flex; font-size: 0.8em; flex-wrap: wrap; }
  &__list-item { background: #dbdbdb; margin-right: $sm; margin-bottom: $sm; border-radius: 3px; padding: $xxs; }
  &__item {  }
  &__number { padding-left: $xxs; margin-left: $xxs; border-left: 1px solid rgb(184, 177, 177); }
}